input.input-xlarge {
    height: auto;
}

		/* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

		/* Main marketing message and sign up button */
	      .jumbotron {
		padding-top:20px;
		margin: 50px 0;
		text-align: center;
	      }
	      .jumbotron h1 {
		line-height: 1;
	      }
	      .jumbotron .btn {
		font-size: 21px;
		padding: 14px 24px;
	      }

	       .marketing {
	        margin: 60px 0;
      	      }

		.misc-button 
		{ 
		text-align: center; 
		margin:5px;
		}
