@import url("./bootstrap.css");
@import url("./bootstrap-responsive-old.css");

body { 
	background-color: #005799;                                                                      /* median color for gradient */
        background: -webkit-radial-gradient(33%, ellipse cover, #338ACC 0%, #003863 100%);              /* Safari+Chrome */
        background: -moz-radial-gradient(center, ellipse cover, #338ACC 0%, #003863 100%);              /* Firefox */
        background-image: -ms-radial-gradient(center, ellipse cover, #338ACC 0%, #003863 100%);         /* IE9 */
        background: radial-gradient(center, ellipse cover, #338ACC 0%, #003863 100%);        
        color: white
      }
	#main{padding-top:20px; padding-bottom:20px}

      footer {
	background-color:white;
	padding: 20px;
      }

      .homebtns{text-align: center;}

      .form-label {
	font-size: 125%;		
      }
@media (min-width: 483px) {
      #title {
	font-size: 400%;
	padding: 10px;
	line-height: 105%;
      }
}




      #sub {
	font-size: 150%;
	padding: 10px;
      }

      .control-group {
	padding: 10px;	
      }

      label {
	font-weight: bold;	
      }

      #title, #sub {
	text-shadow: 0px 2px 3px #003863;
      }

      footer, label, #title, #sub {
	text-align: center;
      }

      .main-button { width: 180px; }

      #main-form {
	margin: 0 auto;
	width: 550px;
      }

      #button-area, #sub-buttons{ text-align: center; } 
      
      #sub-buttons{ margin: 15px; }    

      #sub-buttons > a {
	margin: 10px;
	width: 120px;
      }

      #login-button { 
	width: 160px;
	padding: 16px;
      }

      /* Tweaks for smartphone and tablet devices respectively */
      @media(max-width: 979px) {
	body{ padding: 0; }
	#main-form { width: 450px; }
      }		

      @media(max-width: 482px) {
	  	#main{padding-top:0px}
        #main-form { width: auto; }
	#title { font-size: 20px; }
	#sub { font-size: 12px  }
	     .form-horizontal .control-group {padding: 10px;	margin-bottom:10px}
	h1,h2 {	line-height: 30px; margin:0}
            #sub-buttons > a {
	margin: 5px;
	width: 100px;
      }
	.form-label { font-size:100%}
      #big-button{ width: 250px; font-size: 150%;}
      }
      