
      body {
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

@media (min-width: 481px)
{
.jumbotron 
{
	padding-top:20px;
	margin: 50px 0;
	text-align: center;
}
}
      .jumbotron h1 {
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 40px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

      .collapsible-heading {
	margin-top: 5px;
	padding: 12px;
	background-color:#1A61C4;
	font-size: 150%;
	border-radius: 8px;
	color: white
      }

      legend > a:link {text-decoration: none; color:white;}    /* unvisited link */
      legend > a:visited {text-decoration: none; color:white;} /* visited link */
      legend > a:hover {text-decoration: none; color:#D5DCF7;}   /* mouse over link */
      legend > a:active {text-decoration: none; color:#D5DCF7;}  /* selected link */ 

      legend { 
	background-color: #4B7FC4; 
	color: white;
	border-radius: 8px;
	padding: 3px;
	padding-left:10px;
      }

      .misc-button, .misc-button2{ text-align: center}
      .misc-button > input, .misc-button2 > input{ margin: 8px }
      .misc-button2{margin-left:10px}
      .divider{padding: 10px;}
      h3{padding-left:10px} 
