#navbar{background:#000;color:#fff;font-size:12px;padding:6px 0px 6px 0.5em; border: solid #c0c0c0;position:relative}
#navbar,#top-nav #q,#sub-nav{font-family:"Lucida Grande","Luxi Sans","Lucida Sans","Trebuchet MS",Arial,FreeSans,Helvetica,sans-serif}
#navbar a{color:#fff}
#navbar ul{margin:0;padding:0}

#navbar {text-align:center}
#navbar li{display:inline}
h1 {  display:inline}
#page{width:956px;min-height: 100%}
body{padding:0;margin:0;font-size:16px;color:#000;}
body{background:#CCC;min-height: 100%;}
html, body {
	height: 100%;
}
#page{background:#fff;margin:0 auto}
#masthead{background:#0f0;text-align:center;}
#maintext{padding:6px; min-height: 100%;height: 100%; word-wrap:break-word;}
img.floatleft{float:left; padding:5px}
img.centre{align:center}
div.clear {  width: 100%; height: 1px; margin: 0 0 -1px;clear: both;}
td.receipt{font-size: larger;}
#keypad{height: 80px; width:80px}

span.label {
  float: left;
  width: 40%;
  text-align: left;
  }

span.sublabel {
  float: left;
  width: 20%;
  text-align: left;
  }


span.input
{
  float: right;
  width: 59%;
  text-align: left;
} 

span.subinput
{
  float: right;
  width: 79%;
  text-align: left;
} 

div.row
{
	clear: both;
	padding-top: 10px 
}
input.longinput
{
	width : 400px;
}

textarea.bigtextarea
{
	width : 400px;
	height : 170px;
}

table.wrapped
{
table-layout: fixed;
width: 100%;
}

td
{
	word-wrap:break-word;
}