<?xml version="1.0"?>
<classroomvoting>
	<type>stagetwo</type>
	<sessionid>{$sessionID}</sessionid>
	<questionid>{$questionID}</questionid>
	<userid>{$userID}</userid>
	<ballotnumber>{$ballotID}</ballotnumber>
	<receipt>{$receipt}</receipt>
	<signature>{$signature}</signature>
	<stageonereceipt>{$stageone}</stageonereceipt>
</classroomvoting>