<?xml version="1.0"?>
{assign var='id' value='0'}
<passcodes>
{foreach from=$passcodes item=passcode}
<passcode><session>{$sessionid}</session><code>{$passcode}</code></passcode>
{/foreach}
</passcodes>



