<classroomvoting>
	<type>error</type>
	<sessionid>{$sessionID}</sessionid>
	<questionid>{$questionID}</questionid>
	<questiontext><![CDATA[{$questiontext}]]></questiontext>
	<errortype>notavailable</errortype>
</classroomvoting>