<?xml version="1.0"?>
<classroomvoting>
	<type>stageone</type>
	<sessionid>{$sessionID}</sessionid>
	<questionid>{$questionID}</questionid>
	<ballotid>{$ballotID}</ballotid>
	<receipt>{$receipt}</receipt>
	<signature>{$signature}</signature>
</classroomvoting>