<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Election Generator Page</title>
<link rel="stylesheet" type="text/css" href="./css/mainstyle.css"/>
</head>
<body>

<div id = "page">
<div id = "masthead">
<h1>Welcome to the Submission Page Generator</h1>
</div>
<div id = "maintext">
<p>Your submission page has been generated. Details of all submission pages you have created can be <a href="submissionadmin.php">here</a>.</p>
</div>
</div>
</body>
</html>
