<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Submit Paper Page</title>
<link rel="stylesheet" type="text/css" href="./css/mainstyle.css"/>
</head>
<body>
<div id = "page">
<div id = "masthead">
<h1>Submit Paper Page</h1>
</div>
<div id = "maintext">
<p> Thank you for showing interest in this election. It is now too late to submit a paper. You can view the submissions <a href="viewsubmission.php?submissionset={$submission}">here</a></p>


</div>
</div>
</body>
</html>
